 # Analyze MFC used cars

## Problem Statement


## Objective


## Business Benefits

# Data Loading and Analysis

## Loading the libraries and initialization of basic variables

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [36]:
# data file paths
JTD_DATA_FILE = "../data/JTD.csv"
CUST_DATA_FILE = "../data/Customer_Data.xlsx"
PLANT_MASTER_FILE = "../data/Latest_Plant Master.xlsx"

# log level
LOG_LEVEL = 'INFO'

## Data Loading

In [9]:
# load the data files for JTD, Customer and Plant data
jtd_df = pd.read_csv(JTD_DATA_FILE) 
cust_df = pd.read_excel(CUST_DATA_FILE)
plant_df = pd.read_excel(PLANT_MASTER_FILE)

In [37]:
def printBasicInfo(data, briefDesc):
    if LOG_LEVEL == 'INFO':
        print('Dataframe Brief Description for:', briefDesc)
        print('======='*12)
        print('\nDataframe Field Types')
        print(data.info())
        print('\nDataframe Field Null and NonNull fields')
        print(data.isnull().sum())
        print('\nDataframe head')
        print(data.head(5))

In [38]:
printBasicInfo(jtd_df, briefDesc='JTD Dataset information')

Dataframe Brief Description for: JTD Dataset information
====================================================================================

Dataframe Field Types
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5619484 entries, 0 to 5619483
Data columns (total 10 columns):
Unnamed: 0             int64
DBM Order              int64
Order Item             int64
Material               object
Labor Value Number     object
Description            object
Item Category          object
Order Quantity         float64
Target quantity UoM    object
Net value              float64
dtypes: float64(2), int64(3), object(5)
memory usage: 428.7+ MB
None

Dataframe Field Null and NonNull fields
Unnamed: 0                   0
DBM Order                    0
Order Item                   0
Material                 51629
Labor Value Number     3774033
Description              51629
Item Category                0
Order Quantity               0
Target quantity UoM      51629
Net value                    0
dtype: int64

Dataframe head
   Unnamed: 0  DBM Order  Order Item           Material Labor Value Number  \
0           0      22385         180        OSLCC_SRV31                NaN
1           1      23910          10    1DM279018170117                NaN
2           2      23910          40      1IS150203BE01                NaN
3           3      23910          60    1DM279001990173                NaN
4           4      23910          70  1DM88552790S001SA                NaN

                               Description Item Category  Order Quantity  \
0  MACHINING RR.SUSPENSION CHARGE  (MAJOR)          P010             1.2
1           ASSY.OIL COOLER (6-PLATE) (VOR          P002             1.0
2           FRONT WHEEL BEARING/ LUBRICATE          P002             1.0
3          ASSY.CYL.HEAD W /O INJ.(NA W /O          P002             1.0
4           Engine Overhaul Kit -Indica Di          P002             1.0

  Target quantity UoM  Net value
0                 MIN    1869.87
1                  EA    2151.13
2                  EA    2552.92
3                  EA   20360.14
4                  EA   10691.63

In [39]:
printBasicInfo(cust_df, briefDesc='Customer Dataset information')

Dataframe Brief Description for: Customer Dataset information
====================================================================================

Dataframe Field Types
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555338 entries, 0 to 555337
Data columns (total 9 columns):
Business Partner    555338 non-null object
Customer No.        555338 non-null object
Partner Type        555260 non-null float64
Data Origin         555202 non-null object
Title               509031 non-null float64
Marital Status      16037 non-null float64
Occupation          14558 non-null float64
Date of Birth       13444 non-null object
Death date          663 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(4)
memory usage: 38.1+ MB
None

Dataframe Field Null and NonNull fields
Business Partner         0
Customer No.             0
Partner Type            78
Data Origin            136
Title                46307
Marital Status      539301
Occupation          540780
Date of Birth       541894
Death date          554675
dtype: int64

Dataframe head
  Business Partner Customer No.  Partner Type Data Origin  Title  \
0               31            1           1.0        Z001    NaN
1               32            2           1.0        Z005    NaN
2               34            4           1.0        Z005    NaN
3               35            5           1.0        Z005    NaN
4               42            7           1.0        Z008    NaN

   Marital Status  Occupation Date of Birth Death date
0             NaN         NaN           NaN        NaT
1             NaN         NaN           NaN        NaT
2             2.0         NaN           NaN        NaT
3             NaN         NaN           NaN        NaT
4             NaN         NaN           NaN        NaT

In [40]:
printBasicInfo(plant_df, briefDesc='Plant Dataset information')

Dataframe Brief Description for: Plant Dataset information
====================================================================================

Dataframe Field Types
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438 entries, 0 to 437
Data columns (total 13 columns):
Plant                      438 non-null object
Name 1                     438 non-null object
Valuation Area             438 non-null object
Customer no. - plant       438 non-null object
Vendor number plant        2 non-null object
Factory calendar           438 non-null object
Name 2                     436 non-null object
House number and street    436 non-null object
PO Box                     437 non-null float64
Postal Code                438 non-null int64
City                       438 non-null object
Sales organization         433 non-null object
State                      438 non-null object
dtypes: float64(1), int64(1), object(11)
memory usage: 44.6+ KB
None

Dataframe Field Null and NonNull fields
Plant                        0
Name 1                       0
Valuation Area               0
Customer no. - plant         0
Vendor number plant        436
Factory calendar             0
Name 2                       2
House number and street      2
PO Box                       1
Postal Code                  0
City                         0
Sales organization           5
State                        0
dtype: int64

Dataframe head
  Plant                          Name 1 Valuation Area Customer no. - plant  \
0  BC07                      NERKUNDRAM           BC07               PLBC07
1  BC30              SAS NAGAR - MOHALI           BC30               PLBC30
2  X001       X001 - AUTO PLANET WHEELS           X001               PLX001
3  X002  X002 - BHANDARI INDUSTRIES PVT           X002               PLX002
4  X003  X003 - Om Sri Satya Sai Automo           X003               PLX003

  Vendor number plant Factory calendar     Name 2  \
0              PLBC07               IN        NaN
1              PLBC30               IN        NaN
2                 NaN               IN      Thane
3                 NaN               IN  Ghaziabad
4                 NaN               IN  Bengaluru

          House number and street    PO Box  Postal Code       City  \
0   No.117 Poonamallee High Road,  600107.0       600107    Chennai
1                C-118, Phase 07,  160055.0       160055     Mohali
2    Unit No.3, Kothari Compound,  400610.0       400610      Thane
3       18/1, C Site 4, Sahibabad  201010.0       201010  Ghaziabad
4  #75, Sy.No. 83/2, Panathur Mai  560087.0       560087  Bengaluru

  Sales organization          State
0               MFCS     Tamil Nadu
1               MFCS         Punjab
2               MFCA    Maharashtra
3               MFCA  Uttar Pradesh
4               MFCB      Karnataka